.table-heading-back {
  background-color: var(--text-primary-color);
  border-left: none !important;
}

.table-sub-head th {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: #FFFFFF;
  padding: 3.3rem 2.8rem !important;
  border-width: 0px 0px !important;
}
.mange-name {
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  line-height: 3rem !important;
  color: var(--text-primary-color) !important;
  text-align: center;
  margin: 2rem auto;
}

.mange-details {
  margin: 2rem auto;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 2rem !important;
  line-height: 3.2rem !important;
  padding-bottom: 1rem;
  color: var(--text-primary-color) !important;
  text-align: center;
}
.manage-image{
  display: block;
  width: 120px;
  height: 80px;
  margin: 0 auto;
}
.svg-div {
  text-align: center;
}
.svg-icon {
  cursor: pointer;
  margin: 2rem auto;
}