.details-background {
  width: 100%;
  height: 400px;
  background-color: var(--text-primary-color);
}
.blog-head {
  padding-top: 7.8rem;
}
.blog-content {
  margin-top: -12%;
}
.blogs-details-des {
  padding: 2.5rem 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 ;
  font-size: 1.9rem ;
  line-height: 3.8rem;
  color:  var(--subText-primary-color) !important; 
}
.blogs-main-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 7rem;
  text-align: center;
  color: #FFFFFF;
}
.blogs-sub-heading{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width:900px) {
  html {
    font-size: 55%;
  }
  .details-background {
    height: 350px;
  }
}
@media (max-width:600px) {
  html {
    font-size: 50%;
  }
  .blog-content {
    margin-top: -15%;
  }
  .details-background {
    height: 300px;
  }
}
@media (max-width:400px) {
  html {
    font-size: 45%;
  }
  .blog-content {
    margin-top: -15%;
  }
  .details-background {
    height: 250px;
  }
}