.frist-back {
  background-color: var(--text-primary-color);
}

.frist-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 2rem;
}

.footer-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  margin-bottom: 0;
}

.footer-sub-heading a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #BCB8D0 !important;
  margin-right: 31px;
  cursor: pointer;
  text-decoration: none;
}
.footer-hr {
  border: 1px solid rgb(255, 255, 255);
}
.second-back {
  background:var(--text-primary-color);
}

.second-foooter-content {
  padding: 2.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-footer-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  margin-bottom: 0;
}

.second-footer-heading span {
  color: #F58859;
}

.second-footer-sub-heading span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  margin-right: 26px;
  cursor: pointer;
}

/* Media quries */
@media (max-width:810px) and (min-width:250px) {
  .frist-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
  }

  .footer-heading {
    margin-bottom: 1.5rem;
  }

  .footer-sub-heading a {
    display: block;
    margin-right: 0px;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .second-footer-heading {
    margin-bottom: 1.2rem;
  }

  .second-footer-sub-heading span {
    display: block;
    margin-right: 0px;
    margin-bottom: 1rem;
  }

  .second-foooter-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}