.loading-Container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spnnier {
  color: var(--other-primary-color) !important ;
  height:20rem !important;
  width: 20rem !important;
}