.details-name{
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 5rem;
  color: var(--text-primary-color);
}
.details-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 ;
  font-size: 1.7rem ;
  line-height: 3rem;
  color:  var(--subText-primary-color) ;
  padding: 1rem 0 ;
}
.details-price {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.5rem;
  color: var(--text-primary-color);
  margin-left: .6rem;
}
.details-quantity {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.6rem;
  color: var(--text-primary-color);
  margin-left: .6rem;
}
.input-feild-2{
  width: 90%;
  margin-bottom: 1rem;
}
.deleverd-button {
  width: 90% !important;
  margin-top: 2rem !important;
  /* border-radius: 0  !important; */
}