@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Inter', sans-serif;
  --other-primary-color: #42baf4;
  --text-primary-color: #2d3748;
  --subText-primary-color: #718096;

}

body {
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Inter', sans-serif;
}